@model List<Product>

<h2>All Products</h2>



<div class="row">

@foreach(var product in Model){
    <div class="col col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @product.ProductName
            </div>
            <div class="panel-body">
                <p>Name: @product.ProductName </p>
                <p>Quantity: @product.Quantity</p>
                <p>Price: @product.Price.ToString("#.##")</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary"
                    asp-controller="Product"
                    asp-action="Edit"
                    asp-route-id="@product.Id">Edit</a>
                <button class="btn btn-danger delete" 
                    data-controller="Product" 
                    data-action="Delete" 
                    data-id="@product.Id"
                    data-body-message="Are you sure want to delete this?"
                    >Delete</button>
            </div>
        </div>
    </div>
}

<button class="btn btn-info"
         id="button1" 
         data-product-name="Laptop"
         data-body-message="Hello how are you?"
         name="button1">Button1</button>

<button class="test">I am a test Button</button>
<input type="text" id="productName" name="productName"/>

<br><br>


<button class="btn btn-info" id="newbutton1" name="newbutton1">newbutton1</button>
<input type="text" id="newproductName" name="newproductName"/>

</div>